<footer>
    <link rel="stylesheet" href="/styles/styles.css">
    <form method="post" th:action="@{/api/saveForTermName}">
        <input th:name="word"/>
        <button type="submit">Save word</button>
    </form>


    <table>
        <tr>
            <td>
                <button onclick="window.location.href = '/api/showScores';" style="width: 100px;">Scores</button>
            </td>
            <td>
                <button onclick="window.location.href = '/api/random';" style="width: 100px;">Game</button>
            </td>
            <td>
                <button onclick="window.location.href = '/api/showAll';" style="width: 100px;">All terms</button>
            </td>
            <td>
                <button onclick="window.location.href = '/api/myTerms';" style="width: 100px;">My terms</button>
            </td>
            <td>
                <button onclick="window.location.href = '/api/telegram/token';" style="width: 100px;">Telegram token</button>
            </td>
        </tr>

    </table>
    <form method="get" th:action="@{/api/logout}">
        <button type="submit">Logout</button>
    </form>
    <form method="get" th:action="@{/api/login}">
    <button type="submit">Login</button>
    </form>
    <!-- Your footer contents -->
    <p>© 2023 Danteso wordl. All rights reserved.</p>
    <!-- Other footer elements -->
</footer>