<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/styles/styles.css">
<div th:replace="fragments/header :: header"></div>
<body>

<table>
    <thead>
    <tr>
        <th> Term </th>
        <th> Description</th>
    </tr>
    </thead>
    <br>
    <br>

    <tbody style="border: 3px black">
    <tr th:if="${terms.empty}">
        <td colspan="2"> No terms Available </td>
    </tr>

    <tr th:each="term : ${terms}">
        <td th:text="${term.getName()}" style="color: red; font-size: 50px">term</td>
        <td th:each="desc : ${term.descriptions}" th:text="${desc.getDescription()}">description</td>


    </tr>
    </tbody>
</table>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>